<h2>Angular 2 HTTP Example – Typescript</h2>
<form>
      <div class="form-group">
        <label class="col-xs-2 control-label text-primary" >Get Data : </label>
        <div class="col-xs-10">
            <button class="btn btn-primary" (click)="getDataFromServer()" >Show last inserted Car : Restful API</button>
            <p style="width: 300px"><strong>The GET result</strong> : {{getMyCarsFromServer}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" >Car Code : </label>
        <div class="col-xs-10">
            <input type="text" style="width: 300px" class="form-control" required
                   [(ngModel)]="productCode" name="productCode"
            >
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" >Car Name : </label>
        <div class="col-xs-10">
            <input type="text" style="width: 300px" class="form-control" required
                   [(ngModel)]="productName" name="productName"
            >
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" >Car Line : </label>
        <div class="col-xs-10">
            <input type="text" style="width: 300px" class="form-control" required
                   [(ngModel)]="productLine" name="productLine"
            >
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" >Car Price : </label>
        <div class="col-xs-10">
            <input type="text" style="width: 300px" class="form-control" required
                   [(ngModel)]="buyPrice" name="buyPrice"
            >
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label text-primary" >Post Data : </label>
        <div class="col-xs-10">
            <button class="btn btn-success" (click)="postDataToServer()">Insert new Car : Restful API</button>
            <p style="width: 300px"><strong>The result after Post </strong>: {{postMyCarToServer}}</p>
        </div>
    </div>
</form>
